*{
    margin: 0;padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
}
.clock{
    width: 300px;
    height: 300px;
     
    background-image: url(../img/clock.png);
    background-size: contain;
    position: relative;
    >span{
        display: flex;
        width: 3px;
        background-color: black;
        position: absolute;
        bottom: 50%;
        left: 50%;
        transform-origin: bottom;

    }
    >#sec{
        background-color:  greenyellow  ;
        height: 100px;
    }
    >#min{
        height: 80px;
    }
    >#hor{
        height: 60px;
    }
    >#dot{
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: black;
        bottom: 47%;
        left: 47%;
    }
}